{% load static %}

<!-- Eng kop sotilganlar -->
<style>
    .best_seller_product_img .image{
        height: 200px;

        {% comment %} margin:40px; {% endcomment %}
    }
    .best_seller_product_img a img{
        width: 100%;
    }
    .best_seller_pruduct_container{
        display: flex;
        flex-wrap:wrap;
        gap: 1rem;
        justify-content: center;
    }
    .best_seller_product{
        width: 200px;
    }
    @media screen and (max-width:457px){
        .best_seller_product{
            width: 150px;
        }
    }
    @media screen and (max-width:320px){
        .best_seller_product{
            width: 100px;
        }
        .price span b , .price span del{
            font-size: 12px;
        }
    }
    .best_seller_product{
        margin: 1%;
    }
    .product .content .title{
        text-align: center !important;
        height:30px;
    }
    @media only screen and (max-width: 321px){
        .product .content .title{
            height:30px;
        }
       
    }
</style>
<div class="tab-pane fade" id="toprated">
    <div class="row">
        <div class="product_container best_seller_pruduct_container">
            {% for x in best_seller %}
            <!-- Single Prodect -->
            <div class="product best_seller_product">
                <span class="badges">
                    {% if x.status %}
                        <span class="sale">{{x.status}}</span>
                    {% endif %}
                    {% if x.discount %}
                        <span class="sale">-{{x.discount}}%</span>
                    {% endif %}
                </span>
                <div class="thumb best_seller_product_img">
                    <a href="{% url 'shopdetail' x.id %}" class="image">
                        <img src="{{x.image.url}}" width="100%" alt="Product" />
                        <img class="hover-image" src="{{x.image.url}}" alt="Product" />
                    </a>
                </div>
                <div class="content">
                    <h5 class="title"><a href="{% url 'shopdetail' x.id %}">{{x.name}}
                        </a>
                    </h5>
                    <hr  style="margin: 10px 0; width:90%;">
                    <span class="price">
                        {% if x.price_old %}
                        <span class="new"> 
                            <del>{{x.price_old}} so'm</del> - <b>{{x.price_new}} so'm</b>
                        </span>
                        {% else %}
                        <span class="new">                         
                            <b>{{x.price_new}} so'm</b>
                        </span>
                        {% endif %}   
                    </span>
                </div>
                <div class="actions icon_day_recomendeds">
                    <a href="{% url 'add-cart' x.id%}" class="cart-btn" type="submit">
                        <button 
                        title="Add To Cart" 
                        class="action add-to-cart" 
                        data-bs-toggle="modal" 
                        data-bs-target="#exampleModal-Cart{{x.id}}">
                        <i class="pe-7s-shopbag"></i>
                        </button>
                    </a>
                    <a href="{% url 'add-wishlist' x.id%}" class="cart-btn" type="submit">
                        <button 
                        class="action wishlist wishlist_day_recomendeds" 
                        style="margin: 0 1rem;" 
                        title="Wishlist" 
                        data-bs-toggle="modal" 
                        data-bs-target="#exampleModal-Wishlist{{x.id}}">
                        <i class="pe-7s-like"></i>
                        </button>
                    </a>
                    
                <button 
                    class="action quickview" 
                    data-link-action="quickview" 
                    title="Quick view" 
                    data-bs-toggle="modal" 
                    data-bs-target="#exampleModal{{x.id}}">
                    <i class="pe-7s-look"></i>
                </button>
                    
                </div>
            </div>
            <!-- Modal -->
                <div class="modal modal-2 fade " id="exampleModal{{x.id}}" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-xl modal-dialog-centered modal-xd" role="document">
                    <div class="modal-content day_recommends_modal_content" >
                        <div class="modal-body day_recommends_modal_body" style="width: 100% !important; background-color: white;">
                            <button type="button" class="btn-close close_btn_day_recomendets" data-bs-dismiss="modal" aria-label="Close" style="margin: 4% 8% !important; font-size: 30px; "> <i class="pe-7s-close"></i></button>
                            <div class="row day_recommends_row" style="width: auto !important; background-color: white;">
                                
                                <div class="col-lg-6 col-sm-12 col-xs-12 mb-lm-30px mb-md-30px mb-sm-30px">
                            <!-- Swiper -->
                                    <div class="swiper-container gallery-top">
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide day_recommends_img_box">
                                                <img class="img-responsive m-auto" src="{{x.image.url}}" alt="">
                                            </div>
                                            
                                        </div>
                                    </div>
                                    <div class="swiper-container gallery-thumbs mt-20px slider-nav-style-1 small-nav">
                                        
                                    </div>
                                </div>


                                <div class="col-lg-6 col-sm-12 col-xs-12" data-aos="fade-up" data-aos-delay="200">
                                    <div class="product-details-content quickview-content">
                                        <h3>{{x.name}} </h3>
                                        <div class="pricing-meta">
                                            <ul class="d-flex">
                                                <li class="new-price" style="font-size: 20px;">Narxi: {{x.price_new}} so'm</li>
                                            </ul>
                                        </div>
                                        <div class="pro-details-rating-wrap">
                                            <div class="rating-product">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </div>
                                        </div>

                                        <div class="pro-details-categories-info pro-details-same-style d-flex m-0 day_recommends_comment_box">
                                            <p class="mt-30px day_recommends_comment">{{x.description}}</p>
                                        </div>


                                        <div class="pro-details-quality m-auto shop_and_cart_btn_box_home_page_day_recomeds" style="gap: 1rem;">
                                            <a href="{% url 'chekout' x.id %}" class="cart-btn" type="submit">
                                                <div class="pro-details-cart">
                                                    <button style="width: 100px ; height: 40px; border-radius: 5px;" class="btn-warning">
                                                        Buyurtma
                                                    </button>
                                                </div>
                                            </a>

                                            <a href="{% url 'add-cart' x.id%}" class="cart-btn" type="submit">
                                                <div class="pro-details-cart">
                                                    <button style="width: 100px ; height: 40px; border-radius: 5px;" class="btn-warning">
                                                        Savatcha
                                                    </button>
                                                </div>
                                            </a>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <!-- Modal end -->       
        {% endfor %}
        </div>

        {% include 'paginations.html' with queryset=products custom_range=custom_range %}
    </div>
</div>
<!-- 2nd tab end -->

