{% load static %}

<!-- Eng kop sotilganlar -->
<style>
    .best_seller_product_img a img{
        width: 100%;
    }
</style>
<div class="tab-pane fade" id="toprated" style="display:flex !important;  flex-wrap:wrap !important; justify-content:center !important;">
    <div class="row" style="display:flex !important;  flex-wrap:wrap !important; justify-content:center !important;">
        {% for x in best_seller %}
        <div class="product_container" style="display:flex !important;  flex-wrap:wrap !important; justify-content:center !important;">
            <!-- Single Prodect -->
            <div class="product" style="width: 350px; height:auto; margin: .5% !important;">
                <span class="badges">
                    {% if x.status %}
                        <span class="sale">{{x.status}}</span>
                    {% endif %}
                    {% if x.discount %}
                        <span class="sale">-{{x.discount}}%</span>
                    {% endif %}
                </span>
                <div class="thumb best_seller_product_img">
                    <a href="{% url 'shopdetail' x.id %}" class="image">
                        <img src="{{x.image.url}}" width="100%" alt="Product" />
                        <img class="hover-image" src="{{x.image.url}}" alt="Product" />
                    </a>
                </div>
                <div class="content">
                    <h5 class="title"><a href="{% url 'shopdetail' x.id %}">{{x.name}}
                        </a>
                    </h5>
                    <span class="price">
                        {% if x.price_old %}
                        <span class="new"> 
                            <del>${{x.price_old}}</del> - <b>${{x.price_new}}</b>
                        </span>
                        {% else %}
                        <span class="new">                         
                            <b>${{x.price_new}}</b>
                        </span>
                        {% endif %}   
                    </span>
                </div>
                <div class="actions">
                    <button title="Add To Cart" class="action add-to-cart" data-bs-toggle="modal" data-bs-target="#exampleModal-Cart"><i
                        class="pe-7s-shopbag"></i>
                    </button>
                    <button style="margin: 0 30px;" class="action wishlist" title="Wishlist" data-bs-toggle="modal" data-bs-target="#exampleModal-Wishlist">
                        <i class="pe-7s-like"></i>
                        </button>
                    <button  class="action btn " data-bs-toggle="modal" href="#exampleModalToggle_best_seller" role="button">
                        <i class="pe-7s-look"></i>
                    </button>
                </div>
            </div>
        </div>


         <!-- Modal -->
    
        

           <div class="modal fade" id="exampleModalToggle_best_seller" aria-hidden="true" aria-labelledby="exampleModalToggle_best_seller" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalToggle_best_seller">Product</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">x</button>
                </div>
                <div class="modal-body">
                    <div class="card" style="width: 100%;">
                        <img src="https://www.calliaweb.co.uk/wp-content/uploads/2015/10/450x300.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Card title</h5>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                        <ul class="list-group list-group-flush">
                          <li class="list-group-item">stars</li>
                          <li class="list-group-item"><del>$80</del> $40</li>
                        </ul>
                      </div>
                </div>
                <div class="d-flex modal-footer">
                    <a href="#" class="btn btn-warning" style="font-size: 20px !important; padding-top: 10px;">add to cart</a>
                </div>
              </div>
            </div>
          </div>
    <!-- Modal end -->

        {% comment %} <!-- Modal -->
        <!-- Modal end --> {% endcomment %}
        
        {% endfor %}
        {% include 'paginations.html' with queryset=products custom_range=custom_range %}
    </div>
</div>
<!-- 2nd tab end -->

