{% load static %}

<!-- Eng kop sotilganlar -->
<div class="tab-pane fade" id="toprated">
    <div class="row">
        <div class="col-lg-4 col-xl-3 col-md-6 col-sm-6 col-xs-6 mb-30px">
            <!-- Single Prodect -->
            <div class="product">
                <span class="badges">
                    <span class="new">New</span>
                </span>
                <div class="thumb">
                    <a href="single-product.html" class="image">
                        <img src="{% static 'assets/images/product-image/1.webp' %}" alt="Product" />
                        <img class="hover-image" src="{% static 'assets/images/product-image/1.webp' %}" alt="Product" />
                    </a>
                </div>
                <div class="content">
                    <span class="category"><a href="index.html#">Accessories</a></span>
                    <h5 class="title"><a href="single-product.html">Modern Smart Phone
                        </a>
                    </h5>
                    <span class="price">
                        <span class="new">$38.50</span>
                    </span>
                </div>
                <div class="actions">
                    <button title="Add To Cart" class="action add-to-cart" data-bs-toggle="modal" data-bs-target="#exampleModal-Cart"><i
                        class="pe-7s-shopbag"></i></button>
                    <button class="action wishlist" title="Wishlist" data-bs-toggle="modal" data-bs-target="#exampleModal-Wishlist"><i
                            class="pe-7s-like"></i></button>
                    <button class="action quickview" data-link-action="quickview" title="Quick view" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="pe-7s-look"></i></button>
                    
                </div>
            </div>
        </div>
       
    </div>
</div>
<!-- 2nd tab end -->

