{% load static %}



<!-- Brand area start -->
{% comment %} <div class="brand-area pt-100px pb-100px">
    <div class="container">
        <div class="brand-slider swiper-container">
            <div class="swiper-wrapper align-items-center">
                {% for b in brand %}
                <div class="swiper-slide brand-slider-item text-center">
                    <a href="index.html#"><img class=" img-fluid" src="{{b.image.url}}" alt="" /></a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div> {% endcomment %}
<!-- Brand area end -->