{% load static%}


<!-- Feature product area start -->
<div class="feature-product-area pt-100px pb-100px">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title text-center">
                    <h2 class="title">Featured Offers</h2>
                    <p>There are many variations of passages of Lorem Ipsum available</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-6 col-lg-6 mb-md-35px mb-lm-35px">
                {% for device in devices %}
                <div class="single-feature-content">
                    <div class="feature-image">
                        <img src="{{device.image.url}}" alt="">
                    </div>
                    <div class="top-content">
                        <h4 class="title"><a href="single-product.html">{{device.name}} </a></h4>
                        <span class="price">
                    <span class="old"><del>${{device.price_old}}</del> - </span>
                        <span class="new">${{device.price_new}}</span>
                        </span>
                    </div>
                    <div class="bottom-content">
                        <div class="deal-timing">
                            <div data-countdown="2021/09/15"></div>
                        </div>
                        <a href="single-product-variable.html" class="btn btn-primary  m-auto"> Shop
                            Now </a>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="col-xl-6 col-lg-6">
                {% for item in features %}
                <div class="feature-right-content">
                    <div class="image-side">
                        <img src="{{item.image.url}}" alt=""> 
                        <button title="Add To Cart" class="action add-to-cart" data-bs-toggle="modal" data-bs-target="#exampleModal-Cart"><i
                            class="pe-7s-shopbag"></i></button>
                    </div>
                    <div class="content-side">
                        <div class="deal-timing">
                            <span>End In:</span>
                            <div data-countdown="2021/09/15"></div>
                        </div>
                        <div class="prize-content">
                            <h5 class="title"><a href="single-product.html">{{item.name}}</a></h5>
                            <span class="price">
                    <span class="old">${{item.price_old}}</span>
                            <span class="new">${{item.price_new}}</span>
                            </span>
                        </div>
                        <div class="product-feature">
                            <ul>
                                <li>Predecessor : <span>{{item.predecessor}}</span></li>
                                <li>Support Type : <span>{{item.supporttype}}</span></li>
                                <li>Cushioning : <span>{{item.cushioning}}</span></li>
                                <li>Total Weight : <span>{{item.totalweight}} </span></li>
                            </ul>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<!-- Feature product area End -->
