<style>
    .brand-carusel-f{
        width: 100% !important;
        margin: 50px 0;
    }
    .brand-carusel-container{
        width: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
}
.brand-caruel-brand-slider{
    display: flex;
    max-width: 950px;
    justify-content: space-between;
    margin: 0 auto;
    overflow-x: auto;
    overflow: hidden;
}        
.brand-carusel-item{
    animation: animate_brands_carusel 12s linear infinite;
    margin-left: 30px;
}
.brand-carusel-item a img:hover{
    animation: brand_animation_hover-effect 0.5s ease-in-out;
}
@keyframes brand_animation_hover-effect {
    0%{
        transform: scale(0.5);
    }
    100%{
        transform: scale(1);
    }
}
@keyframes animate_brands_carusel {
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(-100%);
    }
}
@media screen and (max-width:1400px) {
    .brand-carusel-item a img{
        width: 200px;
    }
}
</style>


<section class="brand-carusel-f">
    <div class="brand-carusel-container">
        <div class="brand-caruel-brand-slider">
            <div class="brand-carusel-item">
                <a>
                    <img src="https://alsafia.uz/static/assets/img/brand/brand-1.png" alt="brand logo">
                </a>
            </div>
            <div class="brand-carusel-item">
                <a>
                    <img src="https://alsafia.uz/static/assets/img/brand/brand-2.png" alt="brand logo">
                </a>
            </div>
            <div class="brand-carusel-item">
                <a>
                    <img src="https://alsafia.uz/static/assets/img/brand/brand-3.png" alt="brand logo">
                </a>
            </div>
            <div class="brand-carusel-item">
                <a>
                    <img src="https://alsafia.uz/static/assets/img/brand/brand-4.png" alt="brand logo">
                </a>
            </div>
            <div class="brand-carusel-item">
                <a>
                    <img src="https://alsafia.uz/static/assets/img/brand/brand-5.png" alt="brand logo">
                </a>
            </div>
            <div class="brand-carusel-item">
                <a>
                    <img src="https://alsafia.uz/static/assets/img/brand/brand-6.png" alt="brand logo">
                </a>
            </div>
        </div>
    </div>
</section>