{% load static%}


<!-- Feature product area start -->
<style>
    .footer__carousel__item{
        width: auto;
        height: auto;
        margin: 1%;
    }
    .footer__carousel__item img{
        width: 100%;
        height: 100%;
    }
    .footer_brands_area{
      overflow-x: auto;
      display: flex;
      justify-content: center;
      background-color: #F9CB26;
      gap: 3rem;
      {% comment %} margin:; {% endcomment %}
      height: auto;
    }
  </style>
  <section class="footer_brands_area">
    <div class="footer__carousel__item">
      <img src="https://alsafia.uz/static/assets/img/brand/brand-6.png" class="d-block w-100" alt="footer__brand">
    </div>
    <div class="footer__carousel__item">
        <img src="https://alsafia.uz/static/assets/img/brand/brand-5.png" class="d-block w-100" alt="footer__brand">
      </div>
      <div class="footer__carousel__item">
        <img src="https://alsafia.uz/static/assets/img/brand/brand-3.png" class="d-block w-100" alt="footer__brand">
      </div>
      <div class="footer__carousel__item">
        <img src="https://alsafia.uz/static/assets/img/brand/brand-1.png" class="d-block w-100" alt="footer__brand">
      </div>
  </section>
<!-- Feature product area End -->
