{% load static %}


<!-- Blog area start from here -->
<div class="main-blog-area pb-100px" style="margin-top: 30px;">
    <div class="container">
        <!-- section title start -->
        <div class="row">
            <div class="col-md-12">
                <div class="section-title text-center mb-30px0px">
                    <h2 class="title">Songi yangiliklar</h2>
                    <p> Biz haqimizdagi eng so'ngi yangiliklar</p>
                </div>
            </div>
        </div>
        <!-- section title start -->
        <div class="row">
            
            <!-- End single blog -->
            <div class="col-lg-6 col-sm-6">
                <div class="single-blog">
                    <div class="blog-image">
                        <a href="blog-single-left-sidebar.html"><img src="{% static 'assets/images/blog-image/2.webp' %}" class="img-responsive w-100" alt=""></a>
                    </div>
                    <div class="blog-text">
                        <div class="blog-athor-date line-height-1">
                            <span class="blog-date"><i class="fa fa-calendar" aria-hidden="true"></i> 13, Sentabr 2022</span>
                            <span><a class="blog-author" href="blog-grid.html"><i class="fa fa-user" aria-hidden="true"></i> Yahyobek Tohirjonov</a></span>
                        </div>
                        <h5 class="blog-heading"><a class="blog-heading-link" href="blog-single-left-sidebar.html">Kundalik turmushda ishlatiluvchi mahsulotlar</a></h5>
                        <p>Bu mahsulotlar yordamida kundalik ishlarni tezroq va maroq bilan bajarishinggiz</p>
                        <a href="blog-single-left-sidebar.html" class="btn btn-primary blog-btn">Ko'proq o'qish...</a>
                    </div>
                </div>
            </div>
            <!-- End single blog -->
        </div>
    </div>
</div>
<!-- Blog area end here -->