{% load static %} 




{% include 'home/slider.html' %}

{% include 'home/banner.html' %}

<!-- Product Area Start -->
<div class="product-area pb-100px">
    <div class="container">

        <!-- Section Title & Tab Start -->
        <div class="row">
            <div class="col-12">
                <!-- Tab Start -->
                <div class="tab-slider d-md-flex justify-content-md-between align-items-md-center">
                    <ul class="product-tab-nav nav justify-content-start align-items-center">
                        <li class="nav-item"><button class="nav-link" data-bs-toggle="tab" data-bs-target="#newarrivals">Kun takliflari</button>
                        </li>
                        <li class="nav-item"><button class="nav-link active" data-bs-toggle="tab" data-bs-target="#toprated">Eng kop sotiladigan</button>
                        </li>
                        
                    </ul>
                </div>
                <!-- Tab End -->
            </div>
        </div>
        <!-- Section Title & Tab End -->


        <div class="row">
            <div class="col">
                <div class="tab-content mt-60px">

                    {% include 'home/day_recommends.html' %}
                    
                    {% include 'home/best_seller.html' %}

                </div>
            </div>
        </div>

    </div>
</div>
<!-- Product Area End -->

<!-- Fashion Area Start -->
<div class="fashion-area" data-bg-image="{% static 'images/midl.jpg' %}">
    <div class="container h-100">
        <div class="row justify-content-center align-items-center h-100">
            <div class="col-12 text-center">
                <h2 class="title" style="color: black;"> <span style="color: red; font-weight: bolder; font-size: 42px;">Smart Fashion</span> With Smart Devices </h2>
                <a href="{% url 'shop' %}" class="btn btn-primary text-capitalize m-auto">Shop All Devices</a>
            </div>
        </div>
    </div>
</div>
<!-- Fashion Area End -->

{% include 'home/feature.html' %}


{% include 'home/brand.html' %}

{% include 'home/home_blog.html' %}