{% load static %}

<!-- Hero/Intro Slider Start -->
<style>
    .shop_all_smart_devices_button{
        padding: 2.5% 0;
    }
    @media screen and (max-width:1152px) {
        .banner__slider__img img{
            margin: 100px 0 !important;
        }
    }
    /* @media screen and (max-width:500px) { */
        /* .banner__slider__img{ */
            /* padding: 0 300px; */
        /* } */
    /* } */
</style>
<div class="section ">
    <div class="hero-slider swiper-container slider-nav-style-1 slider-dot-style-1">
        <!-- Hero slider Active -->
        <div class="swiper-wrapper">
            <!-- Single slider item -->
            <div class="hero-slide-item slider-height swiper-slide bg-color1" data-bg-image="{% static 'images/load_img.jpg' %}">
                <div class="container h-100">
                    <div class="row h-100">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 align-self-center sm-center-view">
                            <!-- <span class="category text-white">Parvoz <span class="text-warning">Trade</span> saytiga hush kelibsiz</span> -->
                            <div class="hero-slide-content slider-animated-1">
                                <h2 class="title-1"> <br>
                                Biznesinggiz rivoji uchun texnologiyalar<br>
                                </h2>
                                <a href="shop-left-sidebar.html" class="btn btn-primary text-capitalize shop_all_smart_devices_button">Mahsulotlar</a>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 d-flex justify-content-center position-relative align-items-end">
                            <div class="show-case">
                                <div class="hero-slide-image banner__slider__img">
                                    <img src="{% static 'assets/images/banner/banner-img.png' %}" alt="stnok" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Single slider item -->
            
            <div class="hero-slide-item slider-height swiper-slide bg-color1" data-bg-image="{% static 'images/load_img.jpg'  %}">
                <div class="container h-100">
                    <div class="row h-100">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 align-self-center sm-center-view">
                            <!-- <span class="category text-white">Parvoz <span class="text-warning">Trade</span> saytiga hush kelibsiz</span> -->
                            <div class="hero-slide-content slider-Parvoz"> 
                                <h2 class="title-1"> <br>
                                    Aqilli Uy Jihozlari &<br>
                                Foydali texnikalar</h2>
                                <a href="shop-left-sidebar.html" class="btn btn-primary text-capitalize shop_all_smart_devices_button">Mahsulotlar</a>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 d-flex justify-content-center position-relative align-items-end">
                            <div class="show-case">
                                <div class="hero-slide-image banner__slider__img">
                                    <img src="{% static 'assets/images/banner/banner-img.png' %}" alt="" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination swiper-pagination-white"></div>
        <!-- Add Arrows -->
        <div class="swiper-buttons">
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
    </div>
</div>
<!-- Hero/Intro Slider End -->