Django==3.2.12
django-crispy-forms==1.14.0
django-filter==22.1
django-heroku==0.3.1
django-jazzmin==2.5.0
environs==9.5.0
gunicorn==20.1.0
Pillow==9.1.0
psycopg2==2.9.3
requests==2.28.1
urllib3==1.26.11
whitenoise==6.0.0
