<!DOCTYPE html>
<html lang="zxx" dir="ltr">
{% load static %}
{% include 'head.html' %}


<body>
    <div class="main-wrapper">
        
        {% include 'navbar.html' %}
        {% if messages %}

        {% for message in messages %}
        <div class="alert  alert--{{message.tags}}" style="color: green;">
            <p class="alert__message">{{message}} <a class="btn btn--danger" style="color: red;">x</a></p>
         
        </div>

        {% endfor %}

        {% endif %}
    
       
            {% if products == None %}
                <h1>Hozircha bunday mahsulot mavjud emas</h1>

            {% else %}
                {% include 'shop/search_include.html' %}

            {% endif %}




        {% include 'footer.html' %}
        
    </div>

    {% include 'jscript.html' %}
    <script src="{% static 'js/main.js' %}"></script>
    
</body>