{% load static %}

<!-- breadcrumb-area start -->
<div class="breadcrumb-area">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-12 text-center">
                <h2 class="breadcrumb-title">Single Product</h2>
                <!-- breadcrumb-list start -->
                <ul class="breadcrumb-list">
                    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                    <li class="breadcrumb-item active">Product</li>
                </ul>
                <!-- breadcrumb-list end -->
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb-area end -->

<!-- Product Details Area Start -->
<div class="product-details-area pt-100px pb-100px" style="background-color: #FFFFFF; ">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-sm-12 col-xs-12 mb-lm-30px mb-md-30px mb-sm-30px">
                <div class="product-details-img product-details-tab product-details-tab-2 d-flex">
                    <!-- Swiper -->
                    <div class="swiper-container  align-self-start">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <img class="img-responsive m-auto" src="{{items.image.url}}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-sm-12 col-xs-12" data-aos="fade-up" data-aos-delay="200">
                <div class="product-details-content quickview-content ml-25px">
                    <h2>{{items.name}}</h2>
                    <div class="pricing-meta">
                        <ul class="d-flex">
                            <li class="new-price">${{items.price_new}}</li>
                        </ul>
                    </div>
                    <div class="pro-details-rating-wrap">
                        <div class="rating-product">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <span class="read-review"><a class="reviews" href="single-product-tabstyle-2.html#">(5 Customer Review)</a></span>
                    </div>
                   
                    
                    <div class="pro-details-categories-info pro-details-same-style d-flex m-0">
                        <span>Categories: </span>
                        <ul class="d-flex">
                            <li>
                                <a href="#">{{items.category.name}} </a>
                            </li>
                        </ul>
                    </div>
                    <div class="pro-details-categories-info pro-details-same-style d-flex m-0">
                        <span>Tags: </span>
                        <ul class="d-flex">
                            <li>
                                <a href="#">{{items.category.tag}} </a>
                            </li>
                            
                        </ul>
                    </div>
                    <div class="pro-details-quality">
                       
                        <div class="pro-details-cart">
                            <a href="{% url 'add-cart' items.id %}" class="cart-btn" type="submit">
                                <button class="add-cart">
                                    Savatcha +
                                </button>
                            </a>
                            
                        </div>
                        <div class="pro-details-compare-wishlist pro-details-wishlist ">
                            
                                <button class="add-cart">
                                    <a href="{% url 'add-wishlist' items.id %}" type="submit">
                                        ❤️+
                                    </a>
                                </button>
                        </div>
                        
                    </div>
                </div>
                <!-- product details description area start -->
                <div class="description-review-wrapper">
                    <div class="description-review-topbar nav">
                        <button data-bs-toggle="tab" data-bs-target="#des-details2">Ma'lumot</button>
                        <button class="active" data-bs-toggle="tab" data-bs-target="#des-details1">Batafsil</button>
                        <button data-bs-toggle="tab" data-bs-target="#des-details3">Izohlar</button>
                    </div>
                    <div class="tab-content description-review-bottom">
                        <div id="des-details2" class="tab-pane">
                            <div class="product-anotherinfo-wrapper text-start">
                                <ul>
                                    <li><span>Weight</span>{{items.weight}} </li>
                                    <li><span>Dimensions</span>{{items.olchami}} </li>
                                    <li><span>Materials</span>{{items.materials}} </li>
                                    <li><span>Other Info</span>{{items.other_info}} </li>
                                </ul>
                            </div>
                        </div>
                        <div id="des-details1" class="tab-pane active">
                            <div class="product-description-wrapper">
                                <p>
                                    {{items.description}}
                                </p>
                            </div>
                        </div>
                        <div id="des-details3" class="tab-pane">
                            <div class="row">

                                <div class="col-lg-12">
                                    {% if user.is_authenticated %}
                                    {% for sm in items.comment.all %}
                                    <div class="review-wrapper">
                                        <div class="single-review">
                                            <div class="review-img">
                                                <img src="{% static 'images.png' %}" alt="" />
                                            </div>
                                            <div class="review-content">
                                                <div class="review-top-wrap">
                                                    <div class="review-left">
                                                        <div class="review-name">
                                                            <h4>{{sm.person.username}} </h4>
                                                        </div>
                                                        <div class="rating-product">
                                                           {{sm.time}}
                                                        </div>
                                                        {% comment %} {% if user.is_staff %}
                                                        <a href="{% url 'remove' sm.id %}" style="" >
                                                           delete
                                                        </a>
                                                        {% endif %} {% endcomment %}
                                                    </div>
                                                   
                                                </div>
                                                <div class="review-bottom">
                                                    <p>
                                                        {{sm.body}}
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </div>
                                    {% endfor %}
                                </div>
                                <!-- comments add -->
                                <div class="col-lg-12">
                                    <div class="ratting-form-wrapper pl-50">
                                        <h3 style="margin-bottom: 15px;">Izoh qo'shish</h3>
                                        <div class="ratting-form">
                                            <form action="#" method="POST">
                                                {% csrf_token %} 
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="rating-form-style form-submit">
                                                            {{ forms.as_p}}
                                                            <button class="btn btn-primary btn-hover-color-primary " type="submit" value="Submit">Submit</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                {% else %}
                                    <h5>Siz ro'yxatdan o'tmagansiz, iltimos ro'yxatdan o'ting  <a href="{% url 'login' %}"> ' Login  '</h5>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <!-- product details description area end -->
            </div>
        </div>
    </div>
</div>



<!-- Product Area Start -->
<div class="product-area related-product" style="background-color: #FFFFFF; ">
    <div class="container">
        <!-- Section Title & Tab Start -->
        <div class="row">
            <div class="col-12">
                <div class="section-title text-center m-0" style="margin-top: 30px;">
                    <h2 class="title">Related Products</h2>
                    <p>There are many variations of passages of Lorem Ipsum available</p>
                </div>
            </div>
        </div>
        <!-- Section Title & Tab End -->
        <div class="row">
            <div class="col">
                <div class="new-product-slider swiper-container slider-nav-style-1">

                    <div class="swiper-wrapper" >
                        {% for alls in all_products %}
                        <div class="swiper-slide">

                            <!-- Single Prodect -->
                            <div class="product" >
                                <span class="badges">
                                    {% if alls.status %}
                                    <span class="sale">{{alls.status}}</span>
                                    {% endif %}
                                    {% if alls.discount %}
                                        <span class="sale">-{{alls.discount}}%</span>
                                    {% endif %}
                                </span>
                                <div class="thumb" >
                                    <a href="{% url 'shopdetail' alls.id %}" class="image">
                                        <img src="{{alls.image.url}}" alt="Product" />
                                        <img class="hover-image" src="{{alls.image.url}}" alt="Product" />
                                    </a>
                                </div>
                                <div class="content">
                                    
                                    <h5 class="title">
                                        <a href="{% url 'shopdetail' alls.id %}">{{alls.name}}
                                        </a>
                                    </h5>
                                    <span class="price">
                                        {% if alls.price_old %}
                                        <span class="new"><del>{{alls.price_old}}</del> - <b>${{alls.price_new}}</b></span>
                                        {% else %}
                                        <span class="new"><b>${{alls.price_new}}</b></span>
                                        {% endif %}
                                    </span>
                                </div>
                                <div class="actions">
                                    <a href="{% url 'add-cart' alls.id%}" class="cart-btn" type="submit">
                                        <button title="Add To Cart" class="action add-to-cart" data-bs-toggle="modal" data-bs-target="#exampleModal-Cart{{alls.id}}"><i
                                            class="pe-7s-shopbag"></i>
                                        </button>
                                        
                                    </a>
                                    <a href="{% url 'add-wishlist' alls.id%}" class="cart-btn" type="submit">
                                        <button class="action wishlist" title="Wishlist" data-bs-toggle="modal" data-bs-target="#exampleModal-Wishlist{{alls.id}}"><i
                                            class="pe-7s-like"></i>
                                        </button>
                                    </a>
                                    
                                    <button class="action quickview" data-link-action="quickview" title="Quick view" data-bs-toggle="modal" data-bs-target="#exampleModal{{alls.id}}"><i class="pe-7s-look"></i></button>
                                    
                                </div>
                            </div>
                            <!-- Modal Cart -->
                            <div class="modal customize-class fade" id="exampleModal-Cart{{alls.id}}" tabindex="-1" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-body text-center">
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><i class="pe-7s-close"></i></button>
                                            <div class="tt-modal-messages">
                                                <i class="pe-7s-check"></i> Mahsulot Savatchaga muvaffaqiyatli qoshildi !!!
                                            </div>
                                            <div class="tt-modal-product">
                                                <div class="tt-img">
                                                    <img src="{{alls.image.url}}" alt="Modern Smart Phone">
                                                </div>
                                                <h2 class="tt-title"><a href="#">{{alls.name}}</a></h2>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>  
                            <!-- Modal -->

                            <!-- Modal wishlist -->
                            <div class="modal customize-class fade" id="exampleModal-Wishlist{{ alls.id }}" tabindex="-1" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-body text-center">
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><i class="pe-7s-close"></i></button>
                                            <div class="tt-modal-messages">
                                                <i class="pe-7s-check"></i> Mahsulot sevimlilarga muvaffaqiyatli qoshildi !!!
                                            </div>
                                            <div class="tt-modal-product">
                                                <div class="tt-img">
                                                    <img src="{{alls.image.url}}" alt="Modern Smart Phone">
                                                </div>
                                                <h2 class="tt-title"><a href="index.html#">{{alls.name}}</a></h2>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <!-- Add Arrows -->
                    <div class="swiper-buttons">
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Product Area End -->