<style>
    .footer_line_carusel{
      width:100%;
      background: #F9CB26;
      overflow: hidden;

    }
    
    .footer_line_carusel_container{
      display: flex;
      justify-content: ;
      animation: footer_liner_animate 18s linear infinite;
      gap: 3rem;
    }
    .footer_line_carusel_container{
      margin: 1% ;
    }
    @keyframes footer_liner_animate {
      0%{
        transform: translateX(100%);
      }
      100%{
        transform: translateX(-100%);
      }
    }
</style>
<div class="footer_line_carusel">
  <div class="footer_line_carusel_container">
        <p>Butun O'zbekiston bo'ylab sifatli va ishonchli yetkazib berish xizmati..</p>
        <p>+998 97 973 93 84</p>
        <p>Baliqchit tuman it park</p>
  </div>
</div>

