{% load static %}


        <!-- breadcrumb-area start -->
<div class="breadcrumb-area">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-12 text-center">
                <h2 class="breadcrumb-title">Blog Single</h2>
                <!-- breadcrumb-list start -->
                <ul class="breadcrumb-list">
                    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                    <li class="breadcrumb-item active">Blog Single</li>
                </ul>
                <!-- breadcrumb-list end -->
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb-area end -->

        <!-- Blog Area Start -->
        <div class="blog-grid pb-100px pt-100px main-blog-page single-blog-page">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-12 offset-lg-2">
                        <div class="blog-posts">
                            <div class="single-blog-post blog-grid-post">
                                <div class="blog-image single-blog">
                                    {% if blog.image %}
                                    <img class="img-fluid h-auto border-radius-10px" src="{{ blog.image.url}}" alt="blog" />
                                    {% else %}
                                    <img class="img-fluid h-auto border-radius-10px" src="{{ blog.video_img}}" alt="blog" />
                                    {% endif %}
                                </div>
                                <div class="blog-post-content-inner mt-30px">
                                    <div class="blog-athor-date">
                                        <span class="blog-date"><i class="fa fa-calendar" aria-hidden="true"></i> - {{ blog.data }} </span>
                                        <span style="margin-left: 10px;"><a class="blog-author" href="{% url 'profile' %}"><i class="fa fa-user" aria-hidden="true"></i> - {{ blog.userd }} </a></span>
                                    </div>
                                    <h4 class="blog-title">{{ blog.title }}</h4>
                                    <p data-aos="fade-up">
                                        {{ blog.text }}
                                    </p>
                                    
                                </div>
                            </div>
                            
                        </div>
                        <div class="blog-single-tags-share d-md-flex justify-content-between">
                            <div class="blog-single-tags d-flex" data-aos="fade-up" data-aos-delay="200">
                                
                                <ul class="tag-list">
                                    <span class="title">Tags:</span>
                            
                                    <li><a href="">{{ blog.tags }} </a></li>
                                    
                                </ul>
                            </div>
                            <div class="blog-single-share mb-xs-15px d-flex" data-aos="fade-up" data-aos-delay="200">
                                <span class="title">Share:</span>
                                <ul class="social">
                                    <li class="m-0">
                                        <a href="blog-single.html#"><i class="fa fa-facebook"></i></a>
                                    </li>
                                    <li>
                                        <a href="blog-single.html#"><i class="fa fa-twitter"></i></a>
                                    </li>
                                    <li>
                                        <a href="blog-single.html#"><i class="fa fa-pinterest-p"></i></a>
                                    </li>
                                    <li>
                                        <a href="blog-single.html#"><i class="fa fa-dribbble"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                       
                        
                        <div class="comment-area">
                            <h2 class="comment-heading" data-aos="fade-up" data-aos-delay="200">Izohlar ({{counts}})</h2>
                            <div class="review-wrapper">
                                {% if user.is_authenticated %}
                                    {% for comment in blog.commenting.all %}
                                    <div class="single-review" data-aos="fade-up" data-aos-delay="200">
                                        <div class="review-img">
                                            <img src="{% static 'images.png' %}" alt="" />
                                        </div>
                                        <div class="review-content">
                                            <div class="review-top-wrap">
                                                <div class="review-left">
                                                    <div class="review-name">
                                                        <h4 class="title">{{ comment.person.username }}</h4>
                                                            <span class="date">- {{ comment.time }} </span>
                                                        </h4>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="review-bottom">
                                                <p>
                                                    {{ comment.body }}
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                {% else %}
                                <div class="single-review" data-aos="fade-up" data-aos-delay="200"> 
                                    <div class="review-content">
                                        <h4 class="title">
                                            Izohlarni ko'rish uchun ro'yxatdan o'ting ....
                                        </h4>
                                        
                                    </div>
                                </div>
                                {% endif %}
                            </div>
                        </div>

                        <div class="blog-comment-form">
                            <h2 class="comment-heading" data-aos="fade-up" data-aos-delay="200">Izoh qoldirish</h2>
                            <div class="form-inner">
                                <div class="row">
                                    
                                    <form action="#" method="POST">
                                        {% csrf_token %} 
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="rating-form-style form-submit">
                                                    {{ forming.as_p}}
                                                    <button class="btn btn-primary btn-hover-color-primary " type="submit" value="Submit">Submit</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- Blag Area End -->