{% load static %}


<!-- breadcrumb-area start -->
<div class="breadcrumb-area">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-12 text-center">
                <h2 class="breadcrumb-title">Blog</h2>
                <!-- breadcrumb-list start -->
                <ul class="breadcrumb-list">
                    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                    <li class="breadcrumb-item active">Blog</li>
                </ul>
                <!-- breadcrumb-list end -->
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb-area end -->

<!-- Blog Area Start -->
<div class="blog-grid pb-100px pt-100px main-blog-page single-blog-page">
    <div class="container">
        <div class="row">
            {% for post in blogs %}
            <div class="col-lg-6 col-md-6 col-xl-4 mb-50px">
                <div class="single-blog">

                    {% if post.image %}
                    <div class="blog-image">
                        <a href="{% url 'blogdetail' post.id %}"><img src="{{post.image.url}}" class="img-responsive w-100" alt=""></a>
                    </div>
                    {% endif %}

                    {% if post.video %}
                    <div class="blog-post-media">
                        <div class="blog-post-video position-relative">
                            <a class="venobox venoboxvid video-icon overflow-hidden vbox-item" data-gall="gall-video" data-autoplay="true" data-vbtype="video" href="{{post.video}}">
                                <img class="img-responsive w-100 thumb-image ratio ratio-16x9" src="{{post.video_img.url}}" alt="">
                                <img class="icon" src="{% static 'assets/images/icons/icon-youtube-play.png' %}" alt="">
                            </a>
                        </div>
                    </div>
                    {% endif %}
                    <div class="blog-text">
                        <div class="blog-athor-date line-height-1">
                            <span class="blog-date"><i class="fa fa-calendar" aria-hidden="true"></i>{{post.data}} </span>
                            <span><a class="blog-author" href="#"><i class="fa fa-user" aria-hidden="true"></i>{{post.userd}} </a></span>
                        </div>
                        <h5 class="blog-heading"><a class="blog-heading-link" href="{% url 'blogdetail' post.id %}">{{post.title}}</a></h5>
                        <p>{{post.body}}</p>
                        <a href="{% url 'blogdetail' post.id %}" class="btn btn-primary blog-btn"> Batafsil</a>
                    </div>
                </div>
            </div>
            <!-- End single blog -->
            {% endfor %}
        </div>
        <!--  Pagination Area Start -->
        {% include 'paginations.html' with queryset=products custom_range=custom_range %}
        <!--  Pagination Area End -->
    </div>
</div>
<!-- Blag Area End -->