{% load static %}


<!-- breadcrumb-area start -->
<div class="breadcrumb-area">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-12 text-center">
                <h2 class="breadcrumb-title">Blog</h2>
                <!-- breadcrumb-list start -->
                <ul class="breadcrumb-list">
                    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                    <li class="breadcrumb-item active">Blog</li>
                </ul>
                <!-- breadcrumb-list end -->
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb-area end -->
<!-- Blog Area Start -->
<div class="blog-grid pb-100px pt-100px main-blog-page single-blog-page">
    <div class="container">
        <div class="row">
            

            <div class="col-lg-6 col-md-6 col-xl-4 mb-50px">
                <div class="single-blog">
                    <div class="blog-post-media swiper-container slider-nav-style-1 small-nav">
                        <div class="blog-gallery swiper-wrapper">
                            <div class="gallery-item swiper-slide">
                                <a href="blog-grid.html#"><img src="{% static 'assets/images/blog-image/5.webp' %}" alt="blog" /></a>
                            </div>
                            <div class="gallery-item swiper-slide">
                                <a href="blog-grid.html#"><img src="{% static 'assets/images/blog-image/3.webp' %}" alt="blog" /></a>
                            </div>
                            <div class="gallery-item swiper-slide">
                                <a href="blog-grid.html#"><img src="{% static 'assets/images/blog-image/4.webp' %}" alt="blog" /></a>
                            </div>
                        </div>
                        <!-- Add Arrows -->
                        <div class="swiper-buttons">
                            <div class="swiper-button-next"></div>
                            <div class="swiper-button-prev"></div>
                        </div>
                    </div>
                    <div class="blog-text">
                        <div class="blog-athor-date line-height-1">
                            <span class="blog-date"><i class="fa fa-calendar" aria-hidden="true"></i> 27,Jun 2030</span>
                            <span><a class="blog-author" href="blog-grid.html"><i class="fa fa-user" aria-hidden="true"></i> Oslad Den</a></span>
                        </div>
                        <h5 class="blog-heading"><a class="blog-heading-link" href="blog-single-left-sidebar.html">12 coz You Shouldn't Invest in Smart Product</a></h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incid ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                        <a href="blog-single-left-sidebar.html" class="btn btn-primary blog-btn"> Read More</a>
                    </div>
                </div>
            </div>
            <!-- End single blog -->
            <div class="col-lg-6 col-md-6 col-xl-4 mb-50px">
                <div class="single-blog ">
                    <div class="blog-post-media">
                        <div class="blog-post-audio">
                            <iframe class="ratio ratio-16x9" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/users/182537870&amp;color=%23ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true&amp;visual=true"></iframe>
                        </div>
                    </div>
                    <div class="blog-text">
                        <div class="blog-athor-date line-height-1">
                            <span class="blog-date"><i class="fa fa-calendar" aria-hidden="true"></i> 27,Jun 2030</span>
                            <span><a class="blog-author" href="blog-grid.html"><i class="fa fa-user" aria-hidden="true"></i>Odrl sala</a></span>
                        </div>
                        <h5 class="blog-heading"><a class="blog-heading-link" href="blog-single-left-sidebar.html">The Biggest Problem With Smart Product</a></h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incid ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                        <a href="blog-single-left-sidebar.html" class="btn btn-primary blog-btn"> Read More</a>
                    </div>
                </div>
            </div>
            <!-- End single blog -->
            <div class="col-lg-6 col-md-6 col-xl-4 mb-50px">
                <div class="single-blog">
                    <div class="blog-post-media">
                        <div class="blog-post-video position-relative">
                            <a class="venobox venoboxvid video-icon overflow-hidden vbox-item" data-gall="gall-video" data-autoplay="true" data-vbtype="video" href="https://youtu.be/Hx64uvCA_zQ">
                                <img class="img-responsive w-100 thumb-image ratio ratio-16x9" src="{% static 'assets/images/blog-image/5.webp' %}" alt="">
                                <img class="icon" src="{% static 'assets/images/icons/icon-youtube-play.png' %}" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="blog-text">
                        <div class="blog-athor-date line-height-1">
                            <span class="blog-date"><i class="fa fa-calendar" aria-hidden="true"></i> 27,Jun 2030</span>
                            <span><a class="blog-author" href="blog-grid.html"><i class="fa fa-user" aria-hidden="true"></i> Awesom Suk</a></span>
                        </div>
                        <h5 class="blog-heading"><a class="blog-heading-link" href="blog-single-left-sidebar.html">20 Fabulous Infographics About Smart Product</a></h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incid ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                        <a href="blog-single-left-sidebar.html" class="btn btn-primary blog-btn"> Read More</a>
                    </div>
                </div>
            </div>
            <!-- End single blog -->



            <div class="col-lg-6 col-md-6 col-xl-4 mb-50px">
                <div class="single-blog">
                    <div class="blog-image">
                        <a href="blog-single-left-sidebar.html"><img src="{% static 'assets/images/blog-image/3.webp' %}" class="img-responsive w-100" alt=""></a>
                    </div>
                    <div class="blog-text">
                        <div class="blog-athor-date line-height-1">
                            <span class="blog-date"><i class="fa fa-calendar" aria-hidden="true"></i> 27,Jun 2030</span>
                            <span><a class="blog-author" href="blog-grid.html"><i class="fa fa-user" aria-hidden="true"></i> Dom Aokle</a></span>
                        </div>
                        <h5 class="blog-heading"><a class="blog-heading-link" href="blog-single-left-sidebar.html">This Week's Top Stories About Smart Product</a></h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incid ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                        <a href="blog-single-left-sidebar.html" class="btn btn-primary blog-btn"> Read More</a>
                    </div>
                </div>
            </div>
            <!-- End single blog -->
            
        </div>
        <!--  Pagination Area Start -->
        <div class="pro-pagination-style text-center mt-0 mb-0" data-aos="fade-up" data-aos-delay="200">
            <div class="pages">
                <ul>
                    <li class="li"><a class="page-link" href="blog-grid.html#"><i class="fa fa-angle-left"></i></a></li>
                    <li class="li"><a class="page-link active" href="blog-grid.html#">1</a></li>
                    <li class="li"><a class="page-link" href="blog-grid.html#">2</a></li>
                    <li class="li"><a class="page-link" href="blog-grid.html#">3</a></li>
                    <li class="li"><a class="page-link" href="blog-grid.html#"><i class="fa fa-angle-right"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        <!--  Pagination Area End -->
    </div>
</div>
<!-- Blag Area End -->