<!DOCTYPE html>
<html lang="zxx" dir="ltr">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parvoz Trade</title>
    <meta name="robots" content="index, follow" />
    <meta name="description" content="Hmart-Smart Product eCommerce html Template">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/images/favicon.ico' %}" />
    <!-- CSS
    ============================================ -->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/font.awesome.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/pe-icon-7-stroke.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/swiper-bundle.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/venobox.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/jquery-ui.min.css' %}">
    <!-- Style CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <!-- Minify Version -->
    <link rel="stylesheet" href="{% static 'assets/css/plugins.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.min.css' %}">
</head>

<body>
    <div class="main-wrapper">
        
        {% include 'navbar.html' %}

        <!-- offcanvas overlay start -->
            <div class="offcanvas-overlay"></div>
            <!-- offcanvas overlay end -->
            <!-- OffCanvas Wishlist Start -->
            <div id="offcanvas-wishlist" class="offcanvas offcanvas-wishlist">
                <div class="inner">
                    <div class="head">
                        <span class="title">Wishlist</span>
                        <button class="offcanvas-close">×</button>
                    </div>
                    <div class="body customScroll">
                        <ul class="minicart-product-list">
                            <li>
                                <a href="single-product.html" class="image"><img src="assets/images/product-image/1.webp" alt="Cart product Image"></a>
                                <div class="content">
                                    <a href="single-product.html" class="title">Modern Smart Phone</a>
                                    <span class="quantity-price">1 x <span class="amount">$21.86</span></span>
                                    <a href="single-product-tabstyle-3.html#" class="remove">×</a>
                                </div>
                            </li>
                            <li>
                                <a href="single-product.html" class="image"><img src="assets/images/product-image/2.webp" alt="Cart product Image"></a>
                                <div class="content">
                                    <a href="single-product.html" class="title">Bluetooth Headphone</a>
                                    <span class="quantity-price">1 x <span class="amount">$13.28</span></span>
                                    <a href="single-product-tabstyle-3.html#" class="remove">×</a>
                                </div>
                            </li>
                            <li>
                                <a href="single-product.html" class="image"><img src="assets/images/product-image/3.webp" alt="Cart product Image"></a>
                                <div class="content">
                                    <a href="single-product.html" class="title">Smart Music Box</a>
                                    <span class="quantity-price">1 x <span class="amount">$17.34</span></span>
                                    <a href="single-product-tabstyle-3.html#" class="remove">×</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="foot">
                        <div class="buttons">
                            <a href="wishlist.html" class="btn btn-dark btn-hover-primary mt-30px">view wishlist</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- OffCanvas Wishlist End -->
            <!-- OffCanvas Cart Start -->
            <div id="offcanvas-cart" class="offcanvas offcanvas-cart">
                <div class="inner">
                    <div class="head">
                        <span class="title">Cart</span>
                        <button class="offcanvas-close">×</button>
                    </div>
                    <div class="body customScroll">
                        <ul class="minicart-product-list">
                            <li>
                                <a href="single-product.html" class="image"><img src="assets/images/product-image/1.webp" alt="Cart product Image"></a>
                                <div class="content">
                                    <a href="single-product.html" class="title">Modern Smart Phone</a>
                                    <span class="quantity-price">1 x <span class="amount">$18.86</span></span>
                                    <a href="single-product-tabstyle-3.html#" class="remove">×</a>
                                </div>
                            </li>
                            <li>
                                <a href="single-product.html" class="image"><img src="assets/images/product-image/2.webp" alt="Cart product Image"></a>
                                <div class="content">
                                    <a href="single-product.html" class="title">Bluetooth Headphone</a>
                                    <span class="quantity-price">1 x <span class="amount">$43.28</span></span>
                                    <a href="single-product-tabstyle-3.html#" class="remove">×</a>
                                </div>
                            </li>
                            <li>
                                <a href="single-product.html" class="image"><img src="assets/images/product-image/3.webp" alt="Cart product Image"></a>
                                <div class="content">
                                    <a href="single-product.html" class="title">Smart Music Box</a>
                                    <span class="quantity-price">1 x <span class="amount">$37.34</span></span>
                                    <a href="single-product-tabstyle-3.html#" class="remove">×</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="foot">
                        <div class="buttons mt-30px">
                            <a href="{% url 'cart' %}" class="btn btn-dark btn-hover-primary mb-30px">view cart</a>
                            <a href="checkout.html" class="btn btn-outline-dark current-btn">checkout</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- OffCanvas Cart End -->
            <!-- OffCanvas Menu Start -->
            <div id="offcanvas-mobile-menu" class="offcanvas offcanvas-mobile-menu">
                <button class="offcanvas-close"></button>
                <div class="user-panel">
                    <ul>
                        <li><a href="tel:0123456789"><i class="fa fa-phone"></i> +012 3456 789</a></li>
                        <li><a href="mailto:demo@example.com"><i class="fa fa-envelope-o"></i> demo@example.com</a></li>
                        <li><a href="my-account.html"><i class="fa fa-user"></i> Account</a></li>
                    </ul>
                </div>
                <div class="inner customScroll">
                    <div class="offcanvas-menu mb-4">
                        <ul>
                            <li><a href="{% url 'home' %}"><span class="menu-text">Home</span></a>
                                
                            </li>
                            <li><a href="about.html">About</a></li>
                            <li>
                                <a href="single-product-tabstyle-3.html#"><span class="menu-text">Pages</span></a>
                            
                            </li>
                            <li><a href="single-product-tabstyle-3.html#"><span class="menu-text">Shop</span></a>
                                
                            </li>
                            <li><a href="single-product-tabstyle-3.html#"><span class="menu-text">Blog</span></a>
                            </li>
                            <li><a href="contact.html">Contact Us</a></li>
                        </ul>
                    </div>
                    <!-- OffCanvas Menu End -->
                    
                    <div class="offcanvas-social mt-auto">
                        <ul>
                            <li>
                                <a href="single-product-tabstyle-3.html#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="single-product-tabstyle-3.html#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="single-product-tabstyle-3.html#"><i class="fa fa-google"></i></a>
                            </li>
                            <li>
                                <a href="single-product-tabstyle-3.html#"><i class="fa fa-youtube"></i></a>
                            </li>
                            <li>
                                <a href="single-product-tabstyle-3.html#"><i class="fa fa-instagram"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- OffCanvas Menu End -->->

        {% include 'about/section.html' %}

        {% include 'footer.html' %}
        
    </div>

    {% include 'jscript.html' %}
    
</body>

</html>