{% load static%}

<!-- breadcrumb-area start -->
<style>
    @media screen and (max-width:957px) {
        .about__us__pages__video > iframe{
            width: 80%;
            height: 300px !important;
        }
    }
    @media screen and (max-width:500px) {
        .about__us__pages__video > iframe{
            width: 80%;
            height: 250px !important;
        }
    }
    @media screen and (max-width:346px) {
        .about__us__pages__video > iframe{
            width: 80%;
            height: 150px !important;
        }
    }
    .team-social li a i{
        font-size: 1.4rem;
    }
</style>
<div class="breadcrumb-area">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-12 text-center">
                <h2 class="breadcrumb-title">Biz haqimizda</h2>
                <!-- breadcrumb-list start -->
                <ul class="breadcrumb-list">
                    <li class="breadcrumb-item"><a href="{% url 'home' %}">Bosh sahifa</a></li>
                    <li class="breadcrumb-item active">Biz haqimizda</li>
                </ul>
                <!-- breadcrumb-list end -->
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb-area end -->

<!-- About section Start -->
<div class="about-area pt-100px">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="about-wrapper text-center">
                    <div class="about-contant">
                        <h2 class="title" style="margin-top:40px !important;">
                            <span>
                                Zamonaviy Dizayn
                            </span>
                            Qulay qurilmalar bilan
                        </h2>
                        <p>O'z biznesingiz rivoqlantirishda sizga kerak bo'luvchi sifaltli mahsulot ishlab chiqarish qurulmalari va kundalik hayotdagi ishlarni bajarishda qulaylik yaratib beruvchi sifatli va hamyonbob mahsulotlar</p>
                    </div>
                    <div class="promo-video about__us__pages__video">
                        <iframe
                            width="853" 
                            height="480" 
                            src="https://www.youtube.com/embed/dD4x7oxSBHk"
                            title="Ishlab chiqarish uchun Lazer Stanok" 
                            frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                            allowfullscreen 
                            controls 
                            autoplay>
                        </iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About section End -->
<!-- Team Area Start -->
<div class="team-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title text-center">
                    <h2 class="title line-height-1">Jamoa azolari</h2>
                    <p>Bizng jamoa azolari</p>
                </div>
            </div>
        </div>
        <div class="row mb-n-30px">
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 mb-lm-30px mb-lg-30px mb-md-30px">
                <!-- Single Team -->
                <div class="team-wrapper ">
                    <div class="team-image overflow-hidden">
                        <img src="{% static 'assets/images/team/men.jpg' %}" alt="">
                        <ul class="team-social d-flex">
                            <li>
                                <a class="m-0" title="Facebook" target="_blank" rel="noopener noreferrer" href="about.html#">
                                    <i class="fa-brands fa-facebook"aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a title="Telegram" target="_blank" rel="noopener noreferrer" href="https://t.me/BackendEngineerJr">
                                    <i class="fa-brands fa-telegram" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a title="Instagram" target="_blank" rel="noopener noreferrer" href="about.html#">
                                    <i class="fa-brands fa-instagram" aria-hidden="true"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="team-inner">
                        <div class="team-content">
                            <h6 class="title">Xalimov Abdullar</h6>
                            <span class="sub-title">Backend Engineer</span>
                        </div>
                    </div>
                </div>
                <!-- Single Team -->
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 mb-lm-30px mb-lg-30px mb-md-30px">
                <!-- Single Team -->
                <div class="team-wrapper">
                    <div class="team-image overflow-hidden">
                        <img src="{% static 'assets/images/team/samandar.jpg' %}" alt="">
                        <ul class="team-social d-flex">
                            <li>
                                <a class="m-0" title="Facebook" target="_blank" rel="noopener noreferrer" href="about.html#">
                                    <i class="fa-brands fa-facebook"aria-hidden="true" ></i>
                                </a>
                            </li>
                            <li>
                                <a title="Telegram" target="_blank" rel="noopener noreferrer" href="https://t.me/kadirov_devs">
                                    <i class="fa-brands fa-telegram" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a title="Instagram" target="_blank" rel="noopener noreferrer" href="about.html#">
                                    <i class="fa-brands fa-instagram" aria-hidden="true"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="team-inner">
                        <div class="team-content">
                            <h6 class="title">Qodirov Samandar</h6>
                            <span class="sub-title">Prayekt Menejer</span>
                        </div>
                    </div>
                </div>
                <!-- Single Team -->
            </div>
            <div class="col-xl-4 col-lg-4 col-sm-6 col-md-6 mb-lm-30px ">
                <!-- Single Team -->
                <div class="team-wrapper">
                    <div class="team-image overflow-hidden">
                        <img src="{% static 'assets/images/team/yaxyo.jpg' %}" alt="">
                        <ul class="team-social d-flex">
                            <li>
                                <a class="m-0" title="Facebook" target="_blank" rel="noopener noreferrer" href="about.html#">
                                    <i class="fa-brands fa-facebook"aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a title="Telegram" target="_blank" rel="noopener noreferrer" href="https://t.me/YahyobekTohirjonov">
                                    <i class="fa-brands fa-telegram" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a title="Instagram" target="_blank" rel="noopener noreferrer" href="about.html#">
                                    <i class="fa-brands fa-instagram" aria-hidden="true"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="team-inner">
                        <div class="team-content">
                            <h6 class="title">Tohirjonov Yahyobek</h6>
                            <span class="sub-title">Frontend Engineer</span>
                        </div>
                    </div>
                </div>
                <!-- Single Team -->
            </div>
        </div>
    </div>
</div>
<!-- Team Area End -->
<!-- Feature Area Srart -->
<div class="feature-area pt-100px pb-100px" style="margin:100px 0;">
    <div class="container">
        <div class="feature-wrapper">
            <div class="single-feture-col mb-md-30px mb-lm-30px">
                <!-- single item -->
                <div class="single-feature">
                    <div class="feature-icon">
                        <img src="{% static 'assets/images/icons/1.png' %}" alt="">
                    </div>
                    <div class="feature-content">
                        <h4 class="title">Bepul dastavka</h4>
                        <span class="sub-title">O'zbekiston bo'ylab bepul yetkazib berish hizmati</span>
                    </div>
                </div>
            </div>
            <!-- single item -->
            <div class="single-feture-col mb-md-30px mb-lm-30px">
                <div class="single-feature">
                    <div class="feature-icon">
                        <img src="{% static 'assets/images/icons/2.png' %}" alt="">
                    </div>
                    <div class="feature-content">
                        <h4 class="title">Kartadan to'lo'v</h4>
                        <span class="sub-title">Karta yordamida masofadan to'lo'v qilish imkoniyati</span>
                    </div>
                </div>
            </div>
            <!-- single item -->
            <div class="single-feture-col">
                <div class="single-feature">
                    <div class="feature-icon">
                        <img src="{% static 'assets/images/icons/3.png' %}" alt="">
                    </div>
                    <div class="feature-content">
                        <h4 class="title">qaytarib berish</h4>
                        <span class="sub-title">Yaroqsiz masulot yetkazib berilsa qaytarib berish imkoniyati</span>
                    </div>
                </div>
                <!-- single item -->
            </div>
        </div>
    </div>
</div>
<!-- Feature Area End -->

<!-- Testimonial area start -->
<div class="trstimonial-area pt-100px pb-100px">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title text-center m-0" style="margin-top: 40px !important;">
                    <h2 class="title">Mijozlar fikri</h2>
                    <p>Bizning mahsulotlarni sotib olgan istemolchilar fikri</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <!-- Swiper -->
                <div class="swiper-container content-top slider-nav-style-1">
                    <div class="swiper-wrapper">

                        <div class="swiper-slide">
                            <div class="testi-inner">
                                <div class="testi-content">
                                    <p>Men o'zimning binesimni rivojlantishing uchun bu saytdan mahsulot sotib olaman meni har doimgidek mahsulotlarni sifati hayratda qoldirib kelmoqda.
                                    </p>
                                </div>
                                <div class="testi-author">
                                    <div class="author-image">
                                        <i class="fa fa-user"></i>
                                    </div>
                                    <div class="author-name">
                                        <h4 class="name">Sotvoldiyev Fazliddin<span>Client</span></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="testi-inner">
                                <div class="testi-content">
                                    <p>Men mahsulot ishlab chiqarish uchun mahsulot sotib olaman va sifatli mahsulotga ega bo'laman . Sizlarga ham sotib olishni maslahat beraman
                                    </p>
                                </div>
                                <div class="testi-author">
                                    <div class="author-image">
                                        <i class="fa fa-user"></i>
                                    </div>
                                    <div class="author-name">
                                        <h4 class="name">Hoshimov Hasanboy<span>Client</span></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Add Arrows -->
                    
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Testimonial area end-->