<!DOCTYPE html>
<html lang="zxx" dir="ltr">
{% load static %}
{% include 'head.html' %}
{% load crispy_forms_tags %}
<body>
    <div class="main-wrapper">
        
        {% include 'navbar.html' %}

        
        <section class="vh-100">
            <div class="container py-5 h-100">
              <div class="row d-flex align-items-center justify-content-center h-100">
                <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
                  <h1>Paro'lingiz muvaffaqiyatli o'zgartirildi. </h1>
                  <br/>
                  <h2>Yangi paro'l bilan saytga kirishingiz mumkun !!! </h2>
                </div>
              </div>
            </div>
          </section>


        {% include 'footer.html' %}
        
    </div>

    {% include 'jscript.html' %}
    
</body>

</html>
