<!DOCTYPE html>
<html lang="zxx" dir="ltr">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parvoz Trade</title>
    <meta name="robots" content="index, follow" />
    <meta name="description" content="Hmart-Smart Product eCommerce html Template">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/images/favicon.ico' %}" />
    <!-- CSS
    ============================================ -->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/font.awesome.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/pe-icon-7-stroke.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/swiper-bundle.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/venobox.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/jquery-ui.min.css' %}">
    <!-- Style CSS -->  
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <!-- Minify Version -->
    <link rel="stylesheet" href="{% static 'assets/css/plugins.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.min.css' %}">
</head>

<body>
    <div class="main-wrapper">
        
        {% include 'navbar.html' %}

        <div class="breadcrumb-area">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-12 text-center">
                        <h2 class="breadcrumb-title">Login</h2>
                        <!-- breadcrumb-list start -->
                        <ul class="breadcrumb-list">
                            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                            <li class="breadcrumb-item active">Login</li>
                        </ul>
                        <!-- breadcrumb-list end -->
                    </div>
                </div>
            </div>
        </div>
        <!-- breadcrumb-area end -->
        
        <!-- login area start -->
        <div class="login-register-area pt-100px pb-100px">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 col-md-12 ml-auto mr-auto">
                        <div class="login-register-wrapper">

                            <div class="login-register-tab-list nav">
                                <a class="active" data-bs-toggle="tab" href="login.html#lg1">
                                    <h4>login</h4>
                                </a>
                                <a data-bs-toggle="tab" href="login.html#lg2">
                                    <h4>register</h4>
                                </a>
                            </div>

                            <div class="tab-content">
                                
                                <div id="lg1" class="tab-pane active">
                                    <div class="login-form-container">
                                        <div class="login-register-form">
                                            <form action="{% url 'login' %}" method="POST">
                                                {% csrf_token %}
                                                <input type="text" name="user-name" placeholder="Username" />
                                                <input type="password" name="user-password" placeholder="Password" />
                                                <div class="button-box">
                                                    <div class="login-toggle-btn">
                                                        <a href="{% url 'reset_password' %}">Forgot Password?</a>
                                                    </div>
                                                    <button type="submit"><span>Login</span></button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                
                                <div id="lg2" class="tab-pane">
                                    <div class="login-form-container">
                                        <div class="login-register-form">
                                            <form action="{% url 'login' %}" method="POST">
                                                {% csrf_token %}
                                                {% for field in form %}
                                                <label for="formInput#text">{{field.label}}</label>
                                                {{field}}
                                                {% endfor %}
                                                <div class="button-box">
                                                    <button type="submit"><span>Register</span></button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- login area end -->


        {% include 'footer.html' %}
        
    </div>

    {% include 'jscript.html' %}
    
</body>

</html>


