<!DOCTYPE html>
<html lang="zxx" dir="ltr">
{% load static %}
{% include 'head.html' %}
<body>
    <div class="main-wrapper">
        
        {% include 'navbar.html' %}

         <!-- breadcrumb-area start -->
         <div class="breadcrumb-area">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-12 text-center">
                        <h2 class="breadcrumb-title">Account</h2>
                        <!-- breadcrumb-list start -->
                        <ul class="breadcrumb-list">
                            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                            <li class="breadcrumb-item active">Account</li>
                        </ul>
                        <!-- breadcrumb-list end -->
                    </div>
                </div>
            </div>
        </div>
        <!-- breadcrumb-area end -->
        <!-- account area start -->
        <div class="account-dashboard pt-100px pb-100px">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-3 col-lg-3">
                        <!-- Nav tabs -->
                        <div class="dashboard_tab_button" data-aos="fade-up" data-aos-delay="0">
                            <ul role="tablist" class="nav flex-column dashboard-list">         
                                <li> <a href="my-account.html#orders" data-bs-toggle="tab" class="nav-link">Orders</a></li>
                                <li><a href="my-account.html#address" data-bs-toggle="tab" class="nav-link">Addresses</a></li>
                                <li><a href="my-account.html#account-details" data-bs-toggle="tab" class="nav-link">Change Password</a>
                                </li>
                                <li><a href="{% url 'logout' %}" class="nav-link">logout</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-9 col-lg-9">
                        <!-- Tab panes -->
                        <div class="tab-content dashboard_content" data-aos="fade-up" data-aos-delay="200">
                            
                            <div class="tab-pane fade" id="orders">
                                <h4>Orders</h4>
                                <div class="table_page table-responsive">
                                    <table>
                                        <thead>
                                            <tr>
                                                <th>Order</th>
                                                <th>Date</th>
                                                <th>Status</th>
                                                <th>Total</th>
                                                <th>Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td>May 10, 2018</td>
                                                <td><span class="success">Completed</span></td>
                                                <td>$25.00 for 1 item </td>
                                                <td><a href="cart.html" class="view">view</a></td>
                                            </tr>
                                            <tr>
                                                <td>2</td>
                                                <td>May 10, 2018</td>
                                                <td>Processing</td>
                                                <td>$17.00 for 1 item </td>
                                                <td><a href="cart.html" class="view">view</a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            
                            <div class="tab-pane" id="address">
                                <p>The following addresses will be used on the checkout page by default.</p>
                                <h5 class="billing-address">Billing address</h5>
                                <a href="my-account.html#" class="view">Edit</a>
                                <p class="mb-2"><strong>Michael M Hoskins</strong></p>
                                <address>
                                    <span class="mb-1 d-inline-block"><strong>City:</strong> Seattle</span>,
                                    <br>
                                    <span class="mb-1 d-inline-block"><strong>State:</strong> Washington(WA)</span>,
                                    <br>
                                    <span class="mb-1 d-inline-block"><strong>ZIP:</strong> 98101</span>,
                                    <br>
                                    <span><strong>Country:</strong> USA</span>
                                </address>
                            </div>
                            <div class="tab-pane fade" id="account-details">
                                <h3>Account details </h3>
                                <div class="login">
                                    <div class="login_form_container">
                                        <div class="account_login_form">
                                            <form action="{% url 'edit' %}" method="POST">
                                                {% csrf_token %}
                                                
                                                <div class="default-form-box mb-20">
                                                    <label>User Name</label>
                                                    <input type="text" name="first-name">
                                                </div>
                                                
                                                <div class="default-form-box mb-20">
                                                    <label>Email</label>
                                                    <input type="text" name="email-name">
                                                </div>
                                                
                                                <div class="save_button mt-3">
                                                    <button class="btn" type="submit">Save</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- account area start -->
        

        {% include 'footer.html' %}
        
    </div>

    {% include 'jscript.html' %}
    
</body>

</html>

