<!DOCTYPE html>
<html lang="zxx" dir="ltr">
{% load static %}
{% include 'head.html' %}

<body>
    <div class="main-wrapper">
        
        {% include 'navbar.html' %}
                <section class="vh-100" style="background: #eee;">
                  <div class="container h-100">
                    <div class="row d-flex justify-content-center align-items-center h-100">
                      <div class="col-lg-12 col-xl-11">
                        <div class="card text-black" style="border-radius: 25px;">
                          <div class="card-body p-md-5">
                            <div class="row justify-content-center">
                              <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
                
                                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign up</p>
                
                                <form class="mx-1 mx-md-4" action="{% url 'register' %}" method="POST">
                                  {% csrf_token  %}
                                  <div class="d-flex flex-row align-items-center mb-4">
                                    <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                                    <div class="form-outline flex-fill mb-0">
                                      {{ forms.fullname }}
                                      FullName
                                    </div>
                                  </div>

                                  <div class="d-flex flex-row align-items-center mb-4">
                                    <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                                    <div class="form-outline flex-fill mb-0">
                                      {{ forms.username }}
                                      UserName
                                    </div>
                                  </div>
                
                                  <div class="d-flex flex-row align-items-center mb-4">
                                    <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                                    <div class="form-outline flex-fill mb-0">
                                      {{ forms.email }}
                                      Electron Pochta
                                    </div>
                                  </div>
                
                                  <div class="d-flex flex-row align-items-center mb-4">
                                    <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                                    <div class="form-outline flex-fill mb-0">
                                      {{ forms.password1 }}
                                      Parol  kiriting
                                    </div>
                                  </div>
                
                                  <div class="d-flex flex-row align-items-center mb-4">
                                    <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                                    <div class="form-outline flex-fill mb-0">
                                      {{ forms.password2 }}
                                      Parol qayta kiriting
                                    </div>
                                  </div>
                
                                  <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                                    <button type="submit" class="btn btn-success" style="color: cyan;">Register</button>
                                  </div>
                                  
                                  

                                </form>
                
                              </div>
                              <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
                
                                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
                                  class="img-fluid" alt="Sample image">
                
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>

                
        {% include 'footer.html' %}
        
    </div>

    {% include 'jscript.html' %}
    
</body>

</html>
