<!DOCTYPE html>
<html lang="zxx" dir="ltr">
{% load static %}
{% include 'head.html' %}

<body>
    <div class="main-wrapper">
        
        {% include 'navbar.html' %}

        <!-- Thank You area start -->
        <div class="thank-you-area">
            <div class="container">
                <div class="row justify-content-center align-items-center">
                    <div class="col-md-8">
                        <div class="inner_complated">
                            <div class="img_cmpted"><img src="{% static 'assets/images/icons/cmpted_logo.png' %}" alt="" style="max-width: 35%;"></div>
                            <p class="dsc_cmpted">
                                Bizning dokonimizdan xarid qilganingiz tashakkur!!! Qisqa fursatda siz bilan bog'lanamiz.....
                            </p>
                            <div class="btn_cmpted">
                                <a href="{% url 'shop' %}" class="shop-btn" title="Go To Shop">Xaridni davom etish </a>
                            </div>
                        </div>
                        <div class="main_quickorder text-align-center">
                            <h3 class="title">Tezkor buyurtma berish uchun bizga qo'ng'iroq qiling</h3>
                            <div class="cntct typewriter-effect"><span class="call_desk"><a href="tel:+998940593733" id="typewriter_num">+998940593733</a></span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Thank You area end -->

        {% include 'footer.html' %}
        
    </div>

    {% include 'jscript.html' %}
    
</body>

</html>
