<!DOCTYPE html>
<html lang="zxx" dir="ltr">
{% load static %}
{% include 'head.html' %}

<body>
    <div class="main-wrapper">       
                {% include 'navbar.html' %}
            <!-- breadcrumb-area start -->
            <div class="breadcrumb-area">
                <div class="container">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-12 text-center">
                            <h2 class="breadcrumb-title">Wishlist</h2>
                            <!-- breadcrumb-list start -->
                            <ul class="breadcrumb-list">
                                <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                                <li class="breadcrumb-item active">Wishlist</li>
                            </ul>
                            <!-- breadcrumb-list end -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- breadcrumb-area end -->
            <!-- Wishlist Area Start -->
            <div class="cart-main-area pt-100px pb-100px">
                <div class="container">
                    <h3 class="cart-page-title">Your cart items</h3>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                            <form action="{% url 'wishlist' %}" method="POST">                               
                                {% csrf_token %}
                                <div class="table-content table-responsive cart-table-content">
                                    <table>
                                        <thead>
                                            <tr>
                                                <th>Image</th>
                                                <th>Product Name</th>
                                                <th>Until Price</th>
                                                <th>Savatcha</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            {% for item in items %}
                                            <tr>
                                                <td class="product-thumbnail">
                                                    <a href="wishlist.html#"><img class="img-responsive ml-15px" src="{{item.image.url}}" alt="{{item.name}}" /></a>
                                                </td>
                                                <td class="product-name"><a href="wishlist.html#">{{item.name}}</a></td>
                                                <td class="product-price-cart"><span class="amount">${{item.price_new}}</span></td>
                                               
                                                <td class="product-wishlist-cart">
                                                    <a href="{% url 'add-cart' item.id%}">Savatcha +</a>
                                                </td>
                                                <td class="product-remove">             
                                                    <a href="{% url 'remove-wishlist' item.id %}"><i class="fa fa-times"></i></a>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Wishlist Area End -->

        {% include 'footer.html' %}
        
    </div>

    {% include 'jscript.html' %}
    
</body>

</html>

