<!DOCTYPE html>
<html lang="zxx" dir="ltr">
{% load static %}
{% include 'head.html' %}

<body>
    <div class="main-wrapper">       
                {% include 'navbar.html' %}
            <!-- breadcrumb-area start -->
            <div class="breadcrumb-area">
                <div class="container">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-12 text-center">
                            <h2 class="breadcrumb-title">Sevimli</h2>
                            <!-- breadcrumb-list start -->
                            <ul class="breadcrumb-list">
                                <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                                <li class="breadcrumb-item active">Sevimli</li>
                            </ul>
                            <!-- breadcrumb-list end -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- breadcrumb-area end -->
            <!-- Wishlist Area Start -->
            <div class="cart-main-area pt-100px pb-100px">
                <div class="container">
                    <h1  style="text-align:center; margin-bottom:10px;" >Sevimli mahsulotlar</h1>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                            <form action="{% url 'wishlist' %}" method="POST">                               
                                {% csrf_token %}
                                <div class="table-content table-responsive cart-table-content">
                                    <table>
                                        <thead>
                                            <tr>
                                                <th>Image</th>
                                                <th>Product Name</th>
                                                <th>Until Price</th>
                                                <th>Savatcha</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% if user.is_authenticated %}
                                                {% if cardItems %}
                                                {% for item in cardItems %}
                                                <tr>
                                                    <td class="product-thumbnail">
                                                        <a href="wishlist.html#"><img class="img-responsive ml-15px" src="{{item.image.url}}" alt="{{item.name}}" /></a>
                                                    </td>
                                                    <td class="product-name"><a href="wishlist.html#">{{item.name}}</a></td>
                                                    <td class="product-price-cart"><span class="amount">${{item.price_new}}</span></td>
                                                
                                                    <td class="product-wishlist-cart">
                                                        <a href="{% url 'add-cart' item.id%}">Savatcha +</a>
                                                    </td>
                                                    <td class="product-remove">             
                                                        <a href="{% url 'remove-wishlist' item.id %}"><i class="fa fa-times"></i></a>
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                                {% else %}
                                                <div class="container-fluid  mt-100">
                                                    <div class="row">
                                                       <div class="col-md-12">
                                                            <div class="card">
                                                                <div class="card-header">
                                                                   
                                                                </div>
                                                                <div class="card-body cart">
                                                                   <div class="col-sm-12 empty-cart-cls text-center">
                                                                       <img src="https://i.imgur.com/dCdflKN.png" width="130" height="130" class="img-fluid mb-4 mr-3">
                                                                       <h3><strong>Sevimlilar bo'sh !!!</strong></h3>
                                                                       <h4>Sizga yoqqan mahsulotni qoshing :)</h4>
                                                                       <a href="#" class="btn btn-primary cart-btn-transform m-3" data-abc="true">continue shopping</a>
                                                                   </div>
                                                                </div>
                                                            </div>
                                                       </div>                                                   
                                                    </div>
                                                </div>
                                                {% endif %}
                                            {% else %}
                                            <tr>
                                                <h1 style="text-align: center;"> Siz ro'yxatdan o'tmagansiz !!! </h1>
                                            </tr>

                                            {% endif %}
                                        </tbody>
                                    </table>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Wishlist Area End -->

        {% include 'footer.html' %}
        
    </div>

    {% include 'jscript.html' %}
    
</body>

</html>

