{% load static %}

<!-- Footer Area Start -->
<style>
    .footer-container{
    }
    .footer-area a{
        color: #fff !important;
        text-decoration: none;
    }
    .footer-area a:hover{
        color: #F9CB27 !important;
    }
    .footer-area .link-follow li a:hover{
        color: #fff !important;

    }
    .footer-area .single-link{
        color: #fff !important;

    }
    .footer-area .footer-links p , .about-text{
        color: #F9CB27 !important;

    }
    a{
        text-decoration: none;
    }
    .footer-area .link-follow{
        margin: 20% 0;
    }
</style>
<div class="footer-area" style="background: #252525;">
    <div class="footer-container">
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <!-- Start single blog -->
                    <div class="col-md-6 col-lg-3 mb-md-30px mb-lm-30px">
                        <div class="single-wedge">
                            <div class="footer-logo">
                                <a href="index.html"><img src="{% static 'assets/images/logos.png' %}" alt=""></a>
                            </div>
                            {% comment %} <p class="about-text">Lorem ipsum dolor sit amet consl adipisi elit, sed do eiusmod templ incididunt ut labore
                            </p> {% endcomment %}
                            <ul class="link-follow">
                                <li>
                                    <a class="m-0" title="Telegram" target="_blank" rel="noopener noreferrer" href="index.html#"><i class="fa-brands fa-telegram"></i></a>
                                </li>
                                <li>
                                    <a title="Facebook" target="_blank" rel="noopener noreferrer" href="index.html#"><i class="fa-brands fa-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a title="Instagram" target="_blank" rel="noopener noreferrer" href="index.html#"><i class="fa-brands fa-instagram"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- End single blog -->
                    <!-- Start single blog -->
                    <div class="col-md-6 col-lg-3 col-sm-6 mb-lm-30px pl-lg-60px">
                        <div class="single-wedge">
                            <h4 class="footer-herading" style="color: #F9CB27 !important;">Services</h4>
                            <div class="footer-links">
                                <div class="footer-row">
                                    <ul class="align-items-center">
                                        <li class="li"><a class="single-link" href="my-account.html">My Account</a></li>
                                        <li class="li"><a class="single-link" href="contact.html">Contact</a></li>
                                        <li class="li"><a class="single-link" href="cart.html">Shopping cart</a></li>
                                        <li class="li"><a class="single-link" href="shop-left-sidebar.html">Shop</a></li>
                                        <li class="li"><a class="single-link" href="login.html">Services Login</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End single blog -->
                    <!-- Start single blog -->
                    <div class="col-md-6 col-lg-3 col-sm-6 mb-lm-30px pl-lg-40px">
                        <div class="single-wedge">
                            <h4 class="footer-herading" style="color: #F9CB27 !important;">My Account</h4>
                            <div class="footer-links">
                                <div class="footer-row">
                                    <ul class="align-items-center">
                                        <li class="li"><a class="single-link" href="{% url 'profile' %}">My Account</a></li>
                                        <li class="li"><a class="single-link" href="{% url 'contact' %}">Contact</a></li>
                                        <li class="li"><a class="single-link" href="{% url 'cart' %}">Shopping cart</a></li>
                                        <li class="li"><a class="single-link" href="{% url 'shop' %}">Shop</a></li>
                                        <li class="li"><a class="single-link" href="{% url 'login' %}">Services Login</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End single blog -->
                    <!-- Start single blog -->
                    <div class="col-md-6 col-lg-3 col-sm-12">
                        <div class="single-wedge">
                            <h4 class="footer-herading" style="color: #F9CB27 !important;">Contact Info</h4>
                            <div class="footer-links">
                                <!-- News letter area -->
                                <p class="phone">Phone/Fax:<a href="tel:0123456789"> 0123456789</a></p>
                                <p class="mail">Email:<a href="mailto:demo@example.com"> demo@example.com</a></p>
                                
                            </div>
                        </div>
                    </div>
                    <!-- End single blog -->
                </div>
            </div>
        </div>
        {% comment %} <div class="footer-bottom">
            <div class="container">
                <div class="line-shape-top line-height-1">
                    <div class="row flex-md-row-reverse align-items-center">
                        <div class="col-md-6 text-center text-md-end">
                            <div class="payment-mth"><a href="#"><img class="img img-fluid" src="{% static 'assets/images/icons/payment.png' %}" alt="payment-image"></a></div>
                        </div>
                        <div class="col-md-6 text-center text-md-start">
                            <p class="copy-text"> © 2021 <strong>Hmart</strong> Made With <i class="fa fa-heart"
                                aria-hidden="true"></i> By <a class="company-name" href="https://themeforest.net/user/codecarnival/portfolio">
                                    <strong> Codecarnival </strong></a>.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div> {% endcomment %}
    </div>
</div>
<!-- Footer Area End -->