{% load static %}

<!-- Modal -->
 <div class="modal modal-2 fade" id="exampleModal{{item.id}}" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"> <i class="pe-7s-close"></i></button>
                <div class="row">
                    
                    <div class="col-lg-6 col-sm-12 col-xs-12 mb-lm-30px mb-md-30px mb-sm-30px">
                        <!-- Swiper -->
                        <div class="swiper-container gallery-top">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <img class="img-responsive m-auto" src="{{item.image.url}}" alt="">
                                </div>
                                
                            </div>
                        </div>
                        <div class="swiper-container gallery-thumbs mt-20px slider-nav-style-1 small-nav">
                            
                        </div>
                    </div>


                    <div class="col-lg-6 col-sm-12 col-xs-12" data-aos="fade-up" data-aos-delay="200">
                        <div class="product-details-content quickview-content">
                            <h2>{{item.name}} </h2>
                            <div class="pricing-meta">
                                <ul class="d-flex">
                                    <li class="new-price">Narxi: {{item.price_new}} so'm</li>
                                </ul>
                            </div>
                            <div class="pro-details-rating-wrap">
                                <div class="rating-product">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                            
                            </div>
                        
                            <div class="pro-details-categories-info pro-details-same-style d-flex m-0">
                                <p class="mt-30px">{{item.description}}</p>
                            </div>
                            
                        
                            <div class="pro-details-quality">
                                
                                <div class="pro-details-cart">
                                    {% comment %} <a href="{% url 'shopdetail'  %}" class="cart-btn" type="submit"> {% endcomment %}
                                        Buyurtma berish
                                      </a>
                                      {% comment %} <a href="{% url 'add-cart' %}" class="cart-btn" type="submit"> {% endcomment %}
                                        Savatchaga+
                                      </a>
                                </div>
                            
                            </div>
                            
                        </div>
                    </div>

                    
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal end -->
<!-- Modal Cart -->
<div class="modal customize-class fade" id="exampleModal-Cart{{item.id}}" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body text-center">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><i class="pe-7s-close"></i></button>
                <div class="tt-modal-messages">
                    <i class="pe-7s-check"></i> Added to cart successfully!
                </div>
                <div class="tt-modal-product">
                    <div class="tt-img">
                        <img src="{{item.image.url}}" alt="Modern Smart Phone">
                    </div>
                    <h2 class="tt-title"><a href="#">{{item.name}}</a></h2>
                </div>
            </div>
        </div>
    </div>
</div>     
<!-- Modal wishlist -->
<div class="modal customize-class fade" id="exampleModal-Wishlist{{ item.id }}" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body text-center">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><i class="pe-7s-close"></i></button>
                <div class="tt-modal-messages">
                    <i class="pe-7s-check"></i> Added to Wishlist successfully!
                </div>
                <div class="tt-modal-product">
                    <div class="tt-img">
                        <img src="{{item.image.url}}" alt="Modern Smart Phone">
                    </div>
                    <h2 class="tt-title"><a href="index.html#">{{item.name}}</a></h2>
                </div>
            </div>
        </div>
    </div>
</div>    



<!-- Global Vendor, plugins JS -->
<!-- JS Files
============================================ -->
<script src="{% static 'assets/js/vendor/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'assets/js/vendor/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'assets/js/vendor/jquery-migrate-3.3.2.min.js' %}"></script>
<script src="{% static 'assets/js/vendor/modernizr-3.11.2.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/jquery.countdown.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/swiper-bundle.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/scrollUp.js' %}"></script>
<script src="{% static 'assets/js/plugins/venobox.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/jquery-ui.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/mailchimp-ajax.js' %}"></script>

<!-- Minify Version -->
<script src="{% static 'assets/js/vendor.min.js' %}"></script>
<script src="{% static 'assets/js/plugins.min.js' %}"></script>
<script src="{% static 'assets/js/main.min.js' %}"></script>

<!--Main JS (Common Activation Codes)-->
<script src="{% static 'assets/js/main.js' %}"></script>