<!DOCTYPE html>
<html lang="zxx" dir="ltr">
{% load static %}
{% include 'head.html' %}


<body>
    <style>
        .reset_password_box{
            width: 100%;
            text-align: center;
            margin: 50px 0;
        }
    </style>
    <div class="main-wrapper">
        
        {% include 'navbar.html' %}

       
            <!-- Main Section -->
            <main class="reset_password_box">
                        <h3>Parolni tiklash yuborildi</h3>

                        <p>Biz elektron pochta hisobinggizga  parolni oʻrnatish boʻyicha koʻrsatmalarni yubordik</p>
                        <br>
                        <p>Biz yuborgan link orqali paro'lni o'zgartirishngiz mumkin</p>
            </main>

        {% include 'footer.html' %}
        
    </div>

    {% include 'jscript.html' %}
    
</body>

</html>
