/*null style*/
* {
	padding: 0;
	margin: 0;
	border: 0;
}
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}
nav,
footer,
header,
aside {
	display: block;
}
html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
	font-family: inherit;
}
input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
}
/*-----------------------------------------------*/
html,
body {
	height: 100%;
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
	color: #fff;
	font-size: 14px;
	background-color: #333;
}
body._lock {
	overflow: hidden;
}
.wrapper {
	min-height: 100%;
}
.page {
	padding: 90px 0 30px 0;
}
.page__section {
	padding: 30px;
	max-width: 1200px;
	margin: 0 auto;
}
.page__section_1 {
	background-color: #794f45;
}
.page__section_2 {
	background-color: #77608d;
}
.page__section_3 {
	background-color: #7a956b;
}
.page__title {
	font-size: 40px;
	margin-bottom: 20px;
}
.page__text {
	font-size: 16px;
	line-height: 150%;
}
.page__text p {
	margin-bottom: 20px;
}
.page__sub-title {
	font-size: 30px;
	margin-bottom: 20px;
}

/*-------------------------*/

.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;
	background-color: #912105;
}
.header__container {
	padding: 0 30px;
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
	min-height: 70px;
}
.header__logo {
	border-radius: 50%;
	background-color: #fff;
	position: relative;
	z-index: 5;
	width: 40px;
	height: 40px;
}
.header__menu {
}
.menu {
}
.menu__icon {
	display: none;
}
.menu__body {
}
.menu__list {
}
.menu__list > li {
	position: relative;
	margin-left: 20px;
}
.menu__link {
	color: #fff;
	font-size: 18px;
}
.menu__sub-list {
	position: absolute;
	top: 100%;
	right: 0;
	background-color: #000;
	padding: 15px;
	min-width: 200px;
}
.menu__sub-list li {
	margin-bottom: 10px;
}
.menu__sub-list li:last-child {
	margin-bottom: 0px;
}
.menu__sub-link {
	color: #fff;
}
.menu__sub-link:hover {
	text-decoration: underline;
}
.menu__arrow {
	display: none;
}
/*-------------------------*/
body._pc .menu__list > li:hover .menu__sub-list {
	opacity: 1;
	visibility: visible;
	transform: translate(0, 0);
	pointer-events: all;
}
body._touch .menu__list > li {
	display: flex;
	align-items: center;
}
body._touch .menu__link {
	flex: 1 1 auto;
}
body._touch .menu__arrow {
	display: block;
	width: 0;
	height: 0;
	margin-left: 5px;
	transition: transform 0.3s ease 0s;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 10px solid #fff;
}

body._touch .menu__list > li._active .menu__sub-list {
	opacity: 1;
	visibility: visible;
	transform: translate(0, 0);
	pointer-events: all;
}
body._touch .menu__list > li._active .menu__arrow {
	transform: rotate(180deg);
}
/*-------------------------*/
@media (min-width: 767px) {
	.menu__list {
		display: flex;
		align-items: center;
	}
	.menu__list > li {
		/* padding from link to sub links area to avoid breaking hover on mouse move */
		padding: 10px 0;
	}
	.menu__sub-list {
		transform: translate(0, 10px);
		opacity: 0;
		visibility: hidden;
		/* to avoid mistaken hover */
		pointer-events: none;
		transition: all 0.3s ease 0s;
	}
}

@media (max-width: 767px) {
	.menu__icon {
		z-index: 5;
		display: block;
		position: relative;
		width: 30px;
		height: 18px;
		cursor: pointer;
	}
	.menu__icon span,
	.menu__icon::before,
	.menu__icon::after {
		left: 0;
		position: absolute;
		height: 10%;
		width: 100%;
		transition: all 0.3s ease 0s;
		background-color: #fff;
	}
	.menu__icon::before,
	.menu__icon::after {
		content: '';
	}
	.menu__icon::before {
		top: 0;
	}
	.menu__icon::after {
		bottom: 0;
	}
	.menu__icon span {
		top: 50%;
		transform: scale(1) translate(0, -50%);
	}

	.menu__icon._active span {
		transform: scale(0) translate(0, -50%);
	}
	.menu__icon._active::before {
		top: 50%;
		transform: rotate(-45deg) translate(0, -50%);
	}
	.menu__icon._active::after {
		bottom: 50%;
		transform: rotate(45deg) translate(0, 50%);
	}

	.menu__body {
		position: fixed;
		top: 0;
		left: -100%;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.9);
		padding: 100px 30px 30px 30px;
		transition: left 0.3s ease 0s;
		/* for scroll on menu */
		overflow: auto;
	}
	.menu__body._active {
		/* use left and not transform/translate because it scroll the .menu__body::before when u scroll menu */
		left: 0;
	}
	.menu__body::before {
		content: '';
		position: fixed;
		width: 100%;
		top: 0;
		left: 0;
		height: 70px;
		background-color: #912105;
		z-index: 2;
	}
	.menu__list > li {
		flex-wrap: wrap;
		margin-bottom: 30px;
	}
	.menu__list > li:last-child {
		margin-bottom: 0;
	}
	.menu__list > li._active .menu__sub-list {
		display: block;
	}
	.menu__link {
		font-size: 24px;
	}
	.menu__sub-list {
		position: relative;
		background-color: #fff;
		flex: 1 1 100%;
		margin-top: 20px;
		display: none;
	}
	.menu__sub-link {
		font-size: 20px;
		color: #000;
	}
}
